html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: inherit;
}

h1{
  position: absolute;
  color: #f5f5f5;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

span {
  color: #e14f16;
  font-size: 25px;
  font-weight: bolder;
  text-transform: uppercase;
}

span:hover{
  color: #f5f5f5;
  text-transform: uppercase;
}
